div#container {
	width: 100%;
	text-align: center;
	margin: auto;
}

div.iframe-col {
	display: inline-block;
}

iframe.health-errors {
	width: 845px;
	height: 345px;
}

iframe.health-gauge {
	width: 350px;
	height: 170px;
}

iframe.health-testing {
	width: 1200px;
	height: 2000px;
}
