div#content {
	text-align: center;
	position: relative;
	width: 100%;
}

#search {
  border-radius: 12px;
  padding: 5px;
  font-size: 0.8em;
  width: 300px;
}

#search:focus {
	outline: 0;
}

div#browser {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: rgba(222, 222, 222, 0.9);
    z-index: 20;
    text-align: center;
    display: none;
}

/* lost of unnecessary stuff probably, double check!!! */

div#b-outer-container {
    background: #fff;
    z-index: 70;
    position: absolute;
    top: 70px;
    left: 50px;
    right: 50px;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

button#b-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1.5em;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    background: #fff;
    border: none;
    cursor: pointer;
}

button#b-close:hover {
    background-color: #f0f0f0;
}

div#b-meta {
    background: #f0f0f0;
    border-radius: 20px;
    margin: 0 50px;
    font-size: 1.2em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 12px;
}

div.b-meta {
    width: 25%;
}

span.b-meta {
    color: green;
}

div#b-content {
    display: flex;
    margin: 20px 50px;
}

div#b-sidebar {
    margin-left: auto;
    padding: 20px;
}

div#b-meter-select-container,
div#b-class-select-container {
    display: flex;
    align-items: left;
}

div#b-meter-select,
div#b-class-select {
    text-align: left;
	padding: 5px;
	margin: 5px;
}

div.b-inputs {
	padding: 2px;
}

div.centered {
    width: 100%;
    text-align: center;
}

#b-start-date, #b-end-date, #sb-start-date, #sb-end-date {
    font-family: 'Arial', sans-serif;
	border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

.sidebar-date {
    width: 50%;
    float: left;
	padding: 0px;
    text-indent: 6px;
    box-sizing: border-box;
}

.clear-float {
    clear: left;
}

.energy_view_button {
    background-color: white;
    font-size: 1em;
    padding: 5px;
}

div#b-plot-container {
    margin: auto;
}

div#b-plot {
    width: 60vw;
    aspect-ratio: 2 / 1;
    margin: auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

span.hidden {
    display: none;
}
