body {
    margin: 0;
    font-family: 'Calibri', sans-serif;
    background-color: #f4f4f9;
    color: #3f3f3f;
}

.commenting {
    cursor: crosshair !important;
}

#comment-tooltipmodeengaged {
    position: fixed;
    background: white;
    opacity: 0.8;
    padding: 10px;
    bottom: 82px;
    right: 20px;
    border: 1px dashed grey;
}

#comment-tooltiptext {
    visibility: hidden;
    position: absolute;
    right: 57px;
    bottom: 2px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

#comment-bubble:hover #comment-tooltiptext {
    visibility: visible;
}

#comment-bubble {
    border: 1px solid grey;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 99;
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 8px;
    background: white;
}

.datetimepicker {
    width: 8.5em;
    font-size: 0.9em;
    margin-right: 10px;
}

h3{
    font-size: 1.1em;
    font-weight: bold;
}

div#content-parent {
    margin-top: 76px;
}

div#main-content {
    margin: 20px;
}

img#logo {
    padding-right: 12px;
    padding-left: 12px;
}

div.hidden {
    display: none;
}

input.auth {
    margin: 5px 0px 5px 0px;
    padding: 3px;
    border-radius: 5px;
    outline: none;
}

div#response-div {
    max-width: 10em;
}

a#register {
    font-size: 0.7em;
}

div#failed-div {
    color: red;
}

#username-span {
    font-weight: bold;
}

#registererror-div {
    color: red;
}


.button-generic {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    padding: 0 8px;
    margin: 0 7px 7px 0;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), background-color 200ms ease-in-out, transform 150ms ease;
    user-select: none;
    width: auto;
}

.button-generic:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button-generic:active {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.button-generic.pressed {
    color: #f6f9fe;
    background: #333;
}

.checkbox-container {
    display: block;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
}
  
#extra-padding-bottom {
    padding-bottom: 10px;
}

#context-meter {
    position: relative;
    display: inline-block;
    background-color: #ddd;
}

.show {display: block;}

#info-repeat {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
#info-repeat #info-repeat-tooltip {
    visibility: hidden;
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px dashed black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 50;
}

/* Show the tooltip text when you mouse over the tooltip container */
#info-repeat:hover #info-repeat-tooltip {
    visibility: visible;
}

button.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 1.2em;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    background: rgb(202, 202, 202);
    border: none;
    cursor: pointer;
}

div#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

span#footer {
    background: white;
    opacity: 0.8;
}

#centred-container {
    width: 800px;
    margin: 0 auto;
}

#settings-button {
    margin: 0px 5px 0px 5px;
}


.toggleContainer {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: fit-content;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
	background: white;
	color: #3f3f3f;
	cursor: pointer;
	margin: auto;
	border-radius:30px;
}

.toggleContainer::before {
	content: '';
	position: absolute;
	width:calc(50% - 1px);
	top:1px;
    left:1px;
    bottom:1px;
	border-radius:20px;
	background: #3f3f3f;
	color: white;
	transition: all 0.3s;
}

.toggleCheckbox:checked + .toggleContainer::before {
	left: 50%;
}

.toggleContainer div {
    padding: 6px 24px;
	text-align: center;
	z-index: 1;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.toggleCheckbox {
	display: none;
}

.toggleCheckbox:checked + .toggleContainer div:first-child{
	color: #444444;
	transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer div:last-child{
	color: white;
	transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:first-child{
	color: white;
	transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:last-child{
	color: #444444;
	transition: color 0.3s;
}

.colorScore0 {
    background-color: #d3a0a0 !important;
}

.colorScore1 {
    background-color: #e0c3ab !important;
}

.colorScore2 {
    background-color: #d3c4a0 !important;
}

.colorScore3 {
    background-color: #d4d09d !important;
}

.colorScore4 {
    background-color: #bac99b !important;
}

.colorScore5 {
    background-color: #9fc9a2 !important;
}

select#select-building, select#select-meter {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div#b-meta-info {
    margin-bottom: 1em;
    font-size: 1em;
    color: #555;
}

div#b-context {
    margin-bottom: 1em;
    font-size: 0.9em;
    color: #555;
}

div#sidebar {
    width: 300px;
    height: auto;
    background-color: #f4f4f9;
    float: left;
    padding: 12px 24px 12px 24px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #ddd;
    margin-bottom: 0px;
}

#building-search {
    border-radius: 8px;
    padding: 8px;
    font-size: 0.88em;
    width: 90%;
    border: 1px solid #ddd;
    background-color:#ffffff;
}

#slider-container {
    border: 1px solid #ddd;
    white-space: nowrap;
    border-radius: 20px;
    background-color: white;
}

.sidebar-header {
    margin: 12px 0px 0px 0px;
    padding: 5px 5px 5px 12px;
}

div#tab-topbar {
    background-color: #faf9fc;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}

div.tab {
    text-align: center;
    background-color: #faf9fc;
    display: inline-block;
    width: calc(25% - 10px);
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid #ebebeb;
}

div.tab.active {
    border-bottom: 4px solid #3f3f3f;
}

#building-search:focus {
    outline: 0;
    border-color: #999;
}

div#building-popup {
    background: #fff;
    z-index: 80;
    border-radius: 8px;
    padding: 12px;
    display: none;
    position: absolute;
    top: 120px;
    left: 400px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

div#view-map {
    z-index: -1;
    overflow: hidden;
}

div#content {
	text-align: center;
	position: relative;
	width: 100%;
}

#search {
  border-radius: 12px;
  padding: 5px;
  font-size: 0.9em;
  width: 300px;
}

#search:focus {
	outline: 0;
}

form#viewToggle {
    width:100%;
    box-sizing:border-box;
    background-color:white;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
    text-align:center;
    position:relative;
    border-radius:30px;
}
  
form#viewToggle > div {
    color:white;
    padding-top:14px;
    display:block;
    position:absolute;
    top:1px;
    left:1px;
    bottom:1px;
    width:calc(33.33% + 3.2px);
    background-color: #3f3f3f;
    border-radius:30px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.288);
    z-index:1;
    pointer-events:none;
    transition:transform 0.3s;
}

form#viewToggle::after {
    content:"";
    display:block;
    clear:both;
}

form#viewToggle label {
    float:left;
    width:calc(33.333% - 1px);
    position:relative;
    padding: 6px 0px 26px;
    overflow:hidden;
    transition:color 0.3s;
    cursor:pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

form#viewToggle label:first-child {
    border-left:none;
}

form#viewToggle label input {
    position:absolute;
    top:-200%;
}

form#viewToggle label div {
    z-index: 5;
    position: absolute;
    width: 100%;
}

form#viewToggle label.selected {
    color:white;
}

div#start-content {
    z-index: -2;
    overflow: hidden;
    padding: 0px 20px 20px 20px;
    margin-top: 76px;
}
  
div#building-data {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: rgba(222, 222, 222, 0.9);
    z-index: 20;
    text-align: center;
}

div#b-outer-container {
    background: #fff;
    z-index: 70;
    position: absolute;
    top: 70px;
    left: 50px;
    right: 50px;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

div#b-meta {
    background: #f0f0f0;
    border-radius: 20px;
    margin: 0 50px;
    font-size: 1.2em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 12px;
}

div.b-meta {
    width: 25%;
}

span.b-meta {
    color: green;
}

div#view-browser {
    display: flex;
    margin: 20px 50px;
}

div#b-sidebar {
    margin-left: auto;
    padding: 20px;
}

div#b-meter-select-container,
div#b-aggregate-select-container {
    display: flex;
    align-items: left;
}

div#b-meter-select,
div#b-aggregate-select {
    text-align: left;
	padding: 5px;
	margin: 5px;
}

div.b-inputs {
	padding: 2px;
}

div.centered {
    width: 100%;
    text-align: center;
}

#b-start-date, #b-end-date, #sb-start-date, #sb-end-date {
    font-family: 'Arial', sans-serif;
	border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

.sidebar-date {
    width: 50%;
    float: left;
	padding: 0px;
    text-indent: 6px;
    box-sizing: border-box;
}

.clear-float {
    clear: left;
}

div#b-plot-container {
    margin: auto;
}

div#b-plot {
    width: 60vw;
    aspect-ratio: 2 / 1;
    margin: auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

span.hidden {
    display: none;
}

div#muted-div {
    display: none;
}
