{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div id="main-content">

<div id="centred-container">

<h3>About this dashboard</h3>

This dashboard was designed as part of the <a href="https://wp.lancs.ac.uk/net0i/">Net0i project</a> at Lancaster University, funded by the <a href="https://gow.epsrc.ukri.org/NGBOViewGrant.aspx?GrantRef=EP/T025964/1">UKRI project EP/T025964/1</a>.
The project aims to create insights from energy data for energy managers and other stakeholders to identify energy savings towards a Net Zero future.

<br><br>

While there are a plethora of existing dashboards, who inspired and motivated us, we decided to created yet one more to focus on one specific issue: <b>Context</b>.
As we highlighted in a recent <a href="https://ieeexplore.ieee.org/document/10506051">journal article</a>, "data" can take many different forms, but to explain data we often require context, and the existing dashboards we surveyed didn't quite satisfy our needs, nor that of our stakeholders.
This dashboard therefore attempts to be a testbed for a new vision of exploring data: while providing different ways to browse and analyse energy data, we want to be able to add context, or we call it sometimes "comments" in this tool, to explain/elaborate/question any insights we discover.

<br><br>

Note that as almost everything in research, this website is a work in progress; it is far from finished but only offers a glimpse into our vision.

<br><br>

If you have any questions, comments, or feedback, contact the team via the <a href="https://wp.lancs.ac.uk/net0i/">project website</a>, or email the lead developer <a href="mailto:jc.remy@gmail.com">Christian Remy</a> directly.

<br><br>

You can also access the <a href="https://github.com/ChristianAoC/energy-dashboard/">public Github repository</a>, including sample code to set up a working prototype of this website for yourself and try to shape the API to work with your own energy data!

</div>

</div>
{% endblock %}
