<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ g.settings["SITE_NAME"] }}</title>
<!-- CSS files (external and own, just main for all pages) -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/jquery.datetimepicker.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/jquery-ui.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/context.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/nav.css') }}" />

<!-- exernal JS files -->
<script type="text/javascript" src="{{ url_for('static', filename='script/ext/jquery-3.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/ext/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/ext/d3.v7.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/ext/jquery.datetimepicker.full.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/plotly-2.32.0.min.js') }}"></script>

<script>const BASE_PATH = "{{ request.script_root }}";</script>

<!-- own JS files -->
<script type="text/javascript" src="{{ url_for('static', filename='script/dataloader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/dateinput.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/auth.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/popup-context.js') }}"></script>
{% block head -%}
{% endblock -%}
</head>
<body>
    <div id="nav-parent">
    <nav id="nav-top-bar">
    <script>
    const OFFLINE_MODE = {{ g.settings["offline_mode"] | tojson }};
    
    const STATIC_URLS = {
        {% if g.settings["offline_mode"] %}
        logo: "{{ url_for('static', filename='gfx/net0i-logo-offline-32.png') }}",
        {% else %}
        logo: "{{ url_for('static', filename='gfx/net0i-logo-32.png') }}",
        {% endif %}
        settings: "{{ url_for('static', filename='gfx/settings.png') }}"
    };
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/navtopbar.js') }}"></script>
    </nav>
    </div>

    <div id="comment-bubble" class="hidden" onclick="commentBubbleClicked()">
        <img src="{{ url_for('static', filename='gfx/comment-bubble.png') }}" alt="Comment bubble" width="32" />
        <span id="comment-tooltiptext">Add a comment!</span>
        <div id="comment-tooltipmodeengaged" class="hidden"><b>Edit mode:</b><br>Click on an element<br>to add a comment.</div>
    </div>
    {% include 'popup-context.html' %}

    <div id="content-parent">
    {% block content %}
	{% endblock %}
    </div>

    <div id="footer">
	    <span id="footer">Created by <a href="https://wp.lancs.ac.uk/net0i/">the Net0i Team at Lancaster University</a>, 2025.</span>
	</div>
	</body>
</html>
