{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/start.css') }}" />

<script type='text/javascript' src="{{ url_for('static', filename='script/browser.js') }}"></script>
{% endblock %}

{% block content %}

<div id="map-sidebar">

<label for="select-building"><b>Select a building:</b></label><br>
<select name="select-building" id="select-building">
	<option value="">--Select--</option>
</select>

<br><br>

<label for="select-utility"><b>Select a utility type:</b></label><br>
<select name="select-utility" id="select-utility">
	<option value="">--Select--</option>
</select>

<br><br>

<label for="select-meter"><b>Select a meter:</b></label><br>
<select name="select-meter" id="select-meter">
	<option value="">--Select--</option>
</select>

<br><br>

<button onclick="randomMeter()">Load a random meter!</button>

<br><br>

<div class="sidebar-date">
    <label for="sb-start-date"><b>Start date:</b></label>
    <input type="date" id="sb-start-date" value="2025-05-01" min="2020-01-01" max="2025-12-31" onchange="dateChange()" />
</div>
<div class="sidebar-date">
    <label for="sb-end-date"><b>End date:</b></label>
    <input type="date" id="sb-end-date" value="2025-06-10" min="2020-01-01" max="2025-12-31" onchange="dateChange()" />
</div>

<br><br><br><br>

<b>Aggregate by:</b>
<br>
<div id="b-aggregate-select-container">
	<div id="b-aggregate-select">
		<div class="b-inputs"><input id="None" type="radio" name="agg" value="0" checked /><label for="None">(None)</label></div>
		<div class="b-inputs"><input id="Hour" type="radio" name="agg" value="1" /><label for="Hour">Hour</label></div>
		<div class="b-inputs"><input id="Day" type="radio" name="agg" value="24" /><label for="Day">Day</label></div>
		<div class="b-inputs"><input id="Week" type="radio" name="agg" value="168" /><label for="Week">Week</label></div>
		<div class="b-inputs"><input id="Month" type="radio" name="agg" value="720" /><label for="Month">Month</label></div>
		<div class="b-inputs"><input id="Year" type="radio" name="agg" value="8760" /><label for="Year">Year</label></div>
	</div>
</div>

<label class="checkbox-container">
  <input type="checkbox" checked="checked" id="cumultorate" disabled /> Convert to rate
  <span class="checkmark"></span>
  <br><span>&nbsp;</span><span id="alreadyrate" hidden>(Already a rate meter)</span>
</label>

<br>

<button class="b-button" id="download-button">
	<img src="{{ url_for('static', filename='gfx/download.png') }}" width="24" alt="Download" /> &nbsp; Download CSV
</button>
</div>

<!-- end of side bar -->

<script>
  const appConfig = {
    loadingGifUrl: "{{ url_for('static', filename='gfx/loading.gif') }}"
  };
</script>

<div id="start-content">

<div id="b-content">
	<div id="b-plot-container">
		<h3 id="b-plot-header">(No meter selected)</h3>
		<div id="b-plot" class="plot-div">
		</div>
	</div>
</div>

</div>

{% endblock %}
