{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="style/start.css" />

<script type='text/javascript' src="script/browser.js"></script>
{% endblock %}

{% block content %}

<div id="map-sidebar">

<div class="sidebar-date">
    <label for="sb-start-date">Start date:</label>
    <input type="date" id="sb-start-date" value="2025-05-01" min="2020-01-01" max="2025-12-31" onchange="dateChange()" />
</div>
<div class="sidebar-date">
    <label for="sb-end-date">End date:</label>
    <input type="date" id="sb-end-date" value="2025-06-10" min="2020-01-01" max="2025-12-31" onchange="dateChange()" />
</div>

<div class="clear-float"></div>

<div id="loading"> &nbsp; &nbsp; &nbsp;<span id="loading-text" class="hidden">Reloading data... please wait</span>&nbsp;</div>

<label class="checkbox-container">
  <input type="checkbox" checked="checked" id="cumultorate" /> Convert to rate
  <span class="checkmark"></span>
  <br><span id="alreadyrate">(Already a rate meter)</span>
</label>

<br>
<b>Aggregate by:</b>
<br>
<div id="b-aggregate-select-container">
	<div id="b-aggregate-select">
		<div class="b-inputs"><input id="None" type="radio" name="agg" value="0" checked /><label for="None">(None)</label></div>
		<div class="b-inputs"><input id="Hour" type="radio" name="agg" value="1" /><label for="Hour">Hour</label></div>
		<div class="b-inputs"><input id="Day" type="radio" name="agg" value="24" /><label for="Day">Day</label></div>
		<div class="b-inputs"><input id="Week" type="radio" name="agg" value="168" /><label for="Week">Week</label></div>
		<div class="b-inputs"><input id="Month" type="radio" name="agg" value="720" /><label for="Month">Month</label></div>
		<div class="b-inputs"><input id="Year" type="radio" name="agg" value="8760" /><label for="Year">Year</label></div>
	</div>
</div>

<label for="select-building">Select a building:</label><br>
<select name="select-building" id="select-building">
	<option value="">--Select--</option>
</select>

<br><br>

<label for="select-type">Select a meter type:</label><br>
<select name="select-type" id="select-type">
	<option value="">--Select--</option>
</select>

<br><br>

<label for="select-meter">Select a meter:</label><br>
<select name="select-meter" id="select-meter">
	<option value="">--Select--</option>
</select>

<br><br>

<button class="b-button" id="download-button"><img src="gfx/download.png" width="24" alt="Download" /> &nbsp; Download CSV</button>

</div>

<!-- end of side bar -->

<div id="start-content">

<div id="b-content">
	<div id="b-plot-container">
		<h3 id="b-plot-header">Header TBD</h3>
		<div id="b-plot" class="plot-div">
		</div>
	</div>
</div>

</div>

{% endblock %}
