{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="style/ext/datatables.min.css">
<link rel="stylesheet" type="text/css" href="style/devices.css" />
<script type="text/javascript" src="script/ext/datatables.min.js"></script>
<script type="text/javascript" src="script/devices.js"></script>
<script type='text/javascript' src='script/popup-device.js'></script>
{% endblock %}

{% block content %}
<div id="main-content">
<h3>View Devices</h3>

{% include 'popup-device.html' %}

Toggle column:
<div id="dt-cols-toggles"></div>
<br>

<div id="tableContainer">
<table id="deviceTable">
</table>
</div>

</div>
{% endblock %}
