{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/datatables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/health-check.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/buttons.dataTables.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/dataTables.dataTables.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/select2.min.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='script/ext/dataTables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/health-check.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/dataTables.buttons.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/buttons.dataTables.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/select2.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/jszip.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/pdfmake.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/vfs_fonts.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/buttons.html5.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/ext/buttons.print.min.js') }}"></script>
<meta name="viewport" content="width=device-width" />
{% endblock %}

{% block content %}
<div id="main-content">
<h3>Data Health Check</h3>

<div class="hc-inputs-container">
<div class="hc-date">
    <label for="sb-start-date">Start date:</label>
    <input type="date" id="sb-start-date" value="2025-05-01" min="2020-01-01" max="2025-12-31" onchange="onDateInputChange()" />
</div>
<div class="hc-date">
    <label for="sb-end-date">End date:</label>
    <input type="date" id="sb-end-date" value="2025-06-10" min="2020-01-01" max="2025-12-31" onchange="onDateInputChange()" />
</div>

<button onclick="getNewHealthCheck()" class="button-generic">Reload health check</button>
</div>

<div id="healthcheckStatus"></div><br>

<details id="toggle-columns-section" style="margin-bottom: 1em;">
<summary style="cursor: pointer; font-weight: bold;">Toggle columns</summary>
<div id="dt-cols-toggles">
</div>
</details>
<br>

<div id="tableContainer">
<table id="healthcheckTable" width="100%" class="filtering-col table-bordered table-striped responsive">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>

</div>
{% endblock %}
