{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/start.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/slider.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/mazemap.2.2.1.min.css') }}">

<script type='text/javascript' src="{{ url_for('static', filename='script/ext/mazemap.2.2.1.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/slider.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='script/map.js') }}"></script>
{% endblock %}

{% block content %}

<div id="map-sidebar">

<h3>Select building(s):</h3>

<input id="building-search" type="text" placeholder="Search by name...">
<br><br>

<label class="checkbox-container">
    <input type="checkbox" checked="checked" id="residential" /> Residential
    <span class="checkmark"></span>
</label>

<label class="checkbox-container">
    <input type="checkbox" checked="checked" id="nonres" /> Non-Residential
    <span class="checkmark"></span>
</label>

<label class="checkbox-container">
    <input type="checkbox" checked="checked" id="mixed" /> Mixed
    <span class="checkmark"></span>
</label>


<h4 class="sidebar-header" >Building size (in m&sup2;)</h4>

<div class="range_container">
    <div class="form_control">
        <div class="form_control_container">
            <input class="form_control_container__time__input range1" type="number" id="fromInput1" value="10" min="0" max="100" />
        </div>
        <div class="form_control_container">
            <input class="form_control_container__time__input range1" type="number" id="toInput1" value="30" min="0" max="100" />
        </div>
    </div>
    <div class="sliders_control">
        <input id="fromSlider1" class="range1" type="range" value="10" min="0" max="100" />
        <input id="toSlider1" class="range1" type="range" value="30" min="0" max="100" />
    </div>
</div>

<br>
Buildings with data: <span id="span-total">0</span><br><br>
</div>

<!-- end of side bar -->

<script>
    let mazemapCampusID = Number("{{ config.MAZEMAP_CAMPUS_ID }}");
    let mazemapLng = parseFloat("{{ config.MAZEMAP_LNG }}");
    let mazemapLat = parseFloat("{{ config.MAZEMAP_LAT }}");
</script>

<div id="view-map" class="mazemap start-view-selection">
    <div id="building-popup">
    </div>
</div>

</div>

{% endblock %}
