{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div id="main-content">

<div id="centred-container">

You don't have sufficient access to view this page.
<br><br>

Go to <a href="{{ request.script_root }}/settings">settings</a> to sign up, in case you are not logged in, or contact an <a href="{{ request.script_root }}/about">admin</a> if you think your account level should be raised to give access to this dashboard.
<br><br>

Please note that for most pages you need to sign up with a University email address, and some parts of the dashboard are only visible for technical staff.

</div>

</div>
{% endblock %}
