{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="style/settings.css" />
<script type="text/javascript" src="script/settings.js"></script>
{% endblock %}

{% block content %}

<div id="settings-container">

<br>

<h3>Settings</h3>

<br>

{% if user %}

Logged in as {{user["email"]}}.<br><br>
<button type="button" onclick="logout()" class="auth" id="button-logout">Logout</button>

{% else %}

Not logged in.<br>

<h4>Register</h4>

This site does not use passwords, instead you receive a login token via email. Your email will be your username.<br><br>
Enter email address to request a login token:<br>
<input type="text" id="login-request-email" class="auth" autofocus="" placeholder="Email" onkeypress="checkKeyPressAuth(event)" /><br>
<button type="button" onclick="requestLogin()" class="auth" id="login-request-button">Request login token</button><br>
<div id="login-request-div"></div>

{% endif %}
    
</div>

{% endblock %}
