{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/settings.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/datatables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ext/switch.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script/ext/dataTables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/settings.js') }}"></script>
{% endblock %}

{% block content %}

<div id="settings-container">

<h2>Settings</h2>

{% if message %}
    <div class="message-box {{ status | default('info') }}">
        {{ message }}
    </div>
{% endif %}

{% if user %}

Logged in as {{ user.email | tojson | safe }}.<br><br>
<button type="button" onclick="logout()" class="button-generic" id="button-logout">Logout</button>

{% if user.level == 5 %}

<br><br>

<form action="" id="viewToggle">
    <div></div>
    <label class="selected">
        <input type="radio" name="select-setting" data-location="0" value="settings-users" checked />
        <div>List Users</div>
    </label>
    <label>
        <input type="radio" name="select-setting" data-location="calc(100%)" value="settings-variables" />
        <div>Set Variables</div>
    </label>
    <label>
        <input type="radio" name="select-setting" data-location="calc(200%)" value="settings-logs" />
        <div>View Logs</div>
    </label>
    <label>
        <input type="radio" name="select-setting" data-location="calc(300%)" value="settings-upload" />
        <div>Upload Files</div>
    </label>
</form>

<div id="settings-users">

<h2>List of Users</h2>

<script>
    const currentUserEmail = "{{ user.email | safe }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='script/settings-admin.js') }}"></script>
<div id="usersTableContainer">
    <table id="usersTable">
    </table>
</div>

</div>

<div id="settings-variables" hidden>

<h2>System Variables</h2>

Note: switching between online and offline modes invalidates the health check and summary caches
<br><br>

<div id="settingsTableContainer">
    <table id="settingsTable">
        <thead>
        <tr>
            <th>Category</th>
            <th>Key</th>
            <th>Value</th>
            <th>Type</th>
        </tr>
        <tr>
            <th class="select" data-dt-order="disable">Category</th>
            <th class="text" data-dt-order="disable">Key</th>
            <th class="text" data-dt-order="disable">Value</th>
            <th class="select" data-dt-order="disable">Type</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

</div>

<div id="settings-logs" hidden>

<h2>System Logs</h2>

<div id="logsTableContainer">
    <table id="logsTable">
        <thead>
        <tr>
            <th>Info</th>
            <th>Level</th>
            <th>Message</th>
            <th>Timestamp</th>
        </tr>
        <tr>
            <th class="text" data-dt-order="disable">Info</th>
            <th class="select" data-dt-order="disable">Level</th>
            <th class="text" data-dt-order="disable">Message</th>
            <th class="text" data-dt-order="disable">Timestamp</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

</div>

<div id="settings-upload" hidden>

<h2>Upload New Data Files</h2>

<input type="file" id="file-input" hidden>

Here you can upload new files (not entire offline datasets - those will have to be put directly into the /data folder).

<br><br>

New metadata file, in .xlsx format. Make sure the sheet names and column names are correctly set (click on the "Set Variables" tab).<br>
NOTE: This will invalidate the summary and health check caches<br>

<button id="upload-metadata" class="button-generic">Upload Metadata</button>

<br><br>

New benchmark file, in JSON format.<br>
NOTE: This will invalidate the summary cache<br>

<button id="upload-benchmarks" class="button-generic">Upload Benchmarks</button>

<br><br>

New polygon file, in .JSON format. An example file, for the Lancaster University campus map, can be found in the Github release sidebar.<br>

<button id="upload-polygons" class="button-generic">Upload Polygons</button>

</div>

{% endif %}

{% else %}

Not logged in.<br>

<h4>Register</h4>

This site does not use passwords, instead you receive a login token via email. Your email will be your username.<br><br>
Enter email address to request a login token:<br>
<input type="text" id="login-request-email" class="auth" autofocus="" placeholder="Email" onkeypress="checkKeyPressAuth(event)" /><br>
<button type="button" onclick="requestLogin()" class="auth button-generic" id="login-request-button">Request login token</button><br>
<div id="login-request-div"></div>

{% endif %}
    
</div>
<br><br>

{% endblock %}
