{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="style/ext/datatables.min.css" >
<link rel="stylesheet" type="text/css" href="style/start.css" />
<link rel="stylesheet" type="text/css" href="style/slider.css" />
<!--<link rel="stylesheet" type="text/css" href="style/ext/mazemap.min.css">-->
<link rel="stylesheet" href="https://api.mazemap.com/js/v2.1.2/mazemap.min.css">

<script type='text/javascript' src='data/allBuildings.js'></script>

<script type='text/javascript' src="script/ext/datatables.min.js"></script>
<!--<script type='text/javascript' src='script/ext/mazemap.min.js'></script>-->
<script type='text/javascript' src='https://api.mazemap.com/js/v2.1.2/mazemap.min.js'></script>

<script type='text/javascript' src="script/start.js"></script>
<script type='text/javascript' src="script/slider.js"></script>
<script type='text/javascript' src="script/view-map.js"></script>
<script type='text/javascript' src="script/view-list.js"></script>
<script type='text/javascript' src='script/view-graph.js'></script>
<script type='text/javascript' src='script/popup-building.js'></script>
{% endblock %}

{% block content %}

<div id="map-sidebar">

    <form action="" id="viewToggle">
        <div></div>
        <label class="selected">
          <input type="radio" name="select-view" data-location="0" value="view-map" id="view-map-select" checked />
          <div id="map-selector">Map</div>
        </label>
        <label>
          <input type="radio" name="select-view" data-location="calc(100% - 8px)" value="view-list" id="view-list-select" />
          <div id="list-selector">List</div>
        </label>
        <label>
          <input type="radio" name="select-view" data-location="calc(200% - 12px)" value="view-graph" id="view-graph-select" />
          <div id="graph-selector">Graph</div>
        </label>
      </form>
      
<h3>Select building(s):</h3>

<!-- <input id="building-search" type="text" placeholder="&#x1F50E; Search by name..." oninput="searchChange()"> -->
<input id="building-search" type="text" placeholder="Search by name..." oninput="searchChange()">
<br><br>
<!-- <h4 class="sidebar-header extra-padding-bottom">Building type</h4> -->

<!-- <button type="checkbox" onclick="toggleButton(this)" class="button-type pressed" id="residential">Residential</button>
<button type="button" onclick="toggleButton(this)" class="button-type pressed" id="nonres">Non-Residential</button>
<button type="button" onclick="toggleButton(this)" class="button-type pressed" id="mixed">Mixed</button> -->

<label class="checkbox-container">
  <input type="checkbox" checked="checked" onclick="toggleButton(this)" id="residential"> Residential
  <span class="checkmark"></span>
</label>

<label class="checkbox-container">
  <input type="checkbox" checked="checked"  onclick="toggleButton(this)" id="nonres"> Non-Residential
  <span class="checkmark"></span>
</label>

<label class="checkbox-container">
  <input type="checkbox" checked="checked" onclick="toggleButton(this)" id="mixed"> Mixed
  <span class="checkmark"></span>
</label>


<h4 class="sidebar-header" >Building size (in m&sup2;)</h4>

<div class="range_container">
    <div class="form_control">
      <div class="form_control_container">
          <input class="form_control_container__time__input range1" type="number" id="fromInput1" value="10" min="0" max="100" onchange="sliderChange()" />
        </div>
        <div class="form_control_container">
          <input class="form_control_container__time__input range1" type="number" id="toInput1" value="30" min="0" max="100" onchange="sliderChange()" />
        </div>
    </div>
    <div class="sliders_control">
       <input id="fromSlider1" class="range1" type="range" value="10" min="0" max="100" />
       <input id="toSlider1" class="range1" type="range" value="30" min="0" max="100" />
    </div>
</div>

<h4 class="sidebar-header" id="extra-padding-bottom">Consumption</h4>

<div class="sidebar-date">
    <label for="sb-start-date">Start date:</label>
    <input type="date" id="sb-start-date" value="2025-05-01" min="2020-01-01" max="2025-12-31" onchange="dateChange()" />
</div>
<div class="sidebar-date">
    <label for="sb-end-date">End date:</label>
    <input type="date" id="sb-end-date" value="2025-06-10" min="2020-01-01" max="2025-12-31" onchange="dateChange()" />
</div>
<div class="clear-float"></div>

<div id="loading"> &nbsp; &nbsp; &nbsp;<span id="loading-text" class="hidden">Reloading data... please wait</span>&nbsp;</div>

<div id="slider-container">
<div id="tab-topbar">Filter by:</div>
<div class="tab active" id="electricity" onclick="consumerClick(this)">Elec.</div><div class="tab" id="gas" onclick="consumerClick(this)">Gas</div><div class="tab" id="heat" onclick="consumerClick(this)">Heat</div><div class="tab" id="water" onclick="consumerClick(this)">Water</div>

<h4 class="sidebar-header">Energy use intensity <span id="span-intensity">[kWh/m&sup2;]</span></h4>

<div class="range_container">
    <div class="form_control">
      <div class="form_control_container">
          <input class="form_control_container__time__input range2" type="number" id="fromInput2" value="10" min="0" max="100" oninput="sliderChange()" onchange="sliderChange()" />
        </div>
        <div class="form_control_container">
          <input class="form_control_container__time__input range2" type="number" id="toInput2" value="30" min="0" max="100" oninput="sliderChange()" onchange="sliderChange()" />
        </div>
    </div>
    <div class="sliders_control">
       <input id="fromSlider2" class="range2" type="range" value="10" min="0" max="100" oninput="sliderChange()" onchange="sliderChange()" />
       <input id="toSlider2" class="range2" type="range" value="30" min="0" max="100" oninput="sliderChange()" onchange="sliderChange()" />
    </div>
</div>

<h4 class="sidebar-header">Total consumption <span id="span-consumption">[kWh]</span></h4>

<div class="range_container">
    <div class="form_control">
      <div class="form_control_container">
          <input class="form_control_container__time__input range3" type="number" id="fromInput3" value="10" min="0" max="100" oninput="sliderChange()" onchange="sliderChange()" />
        </div>
        <div class="form_control_container">
          <input class="form_control_container__time__input range3" type="number" id="toInput3" value="30" min="0" max="100" oninput="sliderChange()" onchange="sliderChange()" />
        </div>
    </div>
    <div class="sliders_control">
       <input id="fromSlider3" class="range3" type="range" value="10" min="0" max="100" oninput="sliderChange()" onchange="sliderChange()" />
       <input id="toSlider3" class="range3" type="range" value="30" min="0" max="100" oninput="sliderChange()" onchange="sliderChange()" />
    </div>
</div>

</div>

<br>
Buildings with data: <span id="span-total">0</span> (for <span id="span-type">electricity</span>: <span id="span-typeCount">0</span>)<br><br>
</div>

<!-- end of side bar -->

{% include 'popup-building.html' %}

<div id="start-content">

<!-- view 1: mazemap -->

<script>
    let mazemapCampusID = Number("{{ config.MAZEMAP_CAMPUS_ID }}")
    let mazemapLng = "{{ config.MAZEMAP_LNG }}"
    let mazemapLat = "{{ config.MAZEMAP_LAT }}"
</script>

<div id="view-map" class="mazemap start-view-selection">
    <div id="building-popup">
    </div>
</div>

<!-- view 2: list -->
<div id="view-list" class="start-view-selection" hidden>
<h3>Detailed Information about Selected Buildings</h3>

Toggle column:
<div id="dt-cols-toggles"></div>
<br>

<div id="tableContainer">
<table id="buildingsTable">
</table>
</div>

</div>

<!-- view 3: graph -->
<div id="view-graph" class="start-view-selection" hidden>
<h3>Buildings in Comparison</h3>

<input type="checkbox" id="toggleGraph" class="toggleCheckbox" onchange="toggleGraph()" />
<label for="toggleGraph" class="toggleContainer">
    <div>Total consumption</div> 
    <div>Intensity</div>
</label>

<br><br>

<div id="comparison-plot" class="plot-div">
</div>

</div>

</div>

{% endblock %}
